.loader-wrapper {
  position: fixed;
  inset: 0;
  background: rgba(255,255, 255, 0.0);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgb(0, 0, 0);
  z-index: 9999;

  opacity: 1;
  transition: opacity 1s ease;
}

.fade-out {
  opacity: 0;
}
.ascii-logo{
    font-size: 12pt;
}